
$theme-colors: (
  primary: #563d7c
);

$bs4-primary:		#563d7c;
$bs4-text:			#cdbfe3;


$zindex-modal-bg:          9998 !default;
$modal-backdrop-bg:				 #000 !default;
$modal-backdrop-opacity:      .5 !default;
