{{#sections}}
<h1>{{title}}</h1>
{{#items}}
<h2>{{title}}</h2>
{{#note}}<p>{{{note}}}</p>{{/note}}
{{#examples}}
	{{#note}}<p>{{{note}}}</p>{{/note}}
	<pre><code>{{code}}</code></pre>
	<button data-path="placeholder" data-dismiss="modal" class="btn btn-primary btn-sm insert-code">Insert Example</button>
{{/examples}}

{{#shortcodes}}
<h3>[{{name}}] parameters</h3>
{{#note}}
<div class="alert alert-warning"><strong>Note:</strong> {{{note}}}</div>
{{/note}}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Parameter</th>
			<th>Description</th>
			<th>Required</th>
			<th>Values</th>
			<th>Default</th>
		</tr>
	</thead>
	<tbody>
		{{#parameters}}
		<tr>
			<td>{{name}}</td>
			<td>{{description}}</td>
			<td>{{required}}</td>
			<td>{{values}}</td>
			<td>{{default}}</td>
		</tr>
		{{/parameters}}
		<tr>
			<td>class</td>
			<td>Any extra classes you want to add.</td>
			<td>optional</td>
			<td>any text</td>
			<td></td>
		</tr>
		<tr>
			<td>data</td>
			<td>Data attribute and value pairs separated by a comma. Pairs separated by pipe.</td>
			<td>optional</td>
			<td>any text</td>
			<td></td>
		</tr>
	</tbody>
</table>
{{/shortcodes}}
{{/items}}
{{/sections}}
