<ul class="nav nav-pills nav-stacked" role="tablist">

{{#sections}}
<li><h2><?php _e('{{title}}', 'bootstrap-4-shortcodes'); ?></h2></li>
{{#items}}
<li class="nav-item">
	<a href="#{{id}}" class="nav-link" data-toggle="pill" role="tab"><?php _e('{{title}}', 'bootstrap-4-shortcodes'); ?></a>
</li>
{{/items}}
{{/sections}}
</ul>
