{{#sections}}
<h2><?php _e('{{title}}', 'bootstrap-4-shortcodes'); ?></h2>
<div class="list-group">
{{#items}}
<a href="#{{id}}" class="list-group-item"><?php _e('{{title}}', 'bootstrap-4-shortcodes'); ?></a>
{{/items}}
</div>
{{/sections}}
